<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Sun Mar 26 2017 18:13:22 GMT+0000 (UTC)  -->
<html data-wf-page="58d4141143c5fd5a630968a2" data-wf-site="58d4141143c5fd5a630968a1">
<head>
  <meta charset="utf-8">
  <title>Avenida Cabildo :: locales</title>
  <meta content="Administra la información de tu local para mejorar las visitas a tu local!" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="/manifest.json">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/loader.css" rel="stylesheet" type="text/css">
  <link href="css/avenida-cabildo-administrador.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]
      }
    });
  </script>
  <script src="js/modernizr.js" type="text/javascript"></script>
  <link href="images/5877e0982a54c5ec3ce1eee6_favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/5877e0a09ac381814417974d_webclip.png" rel="apple-touch-icon">
  <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyACm6k1hFLVQc9zJgP6omf1HjzSfkUqtYI",
      authDomain: "infinix-console.firebaseapp.com",
      databaseURL: "https://infinix-console.firebaseio.com",
      storageBucket: "infinix-console.appspot.com",
      messagingSenderId: "378423189863"
    };
    firebase.initializeApp(config);
  </script>  
</head>
<body>
  <div id="loading"><div class="overlay"></div></div>
  <div class="notification w-hidden"></div>
  <div class="header"></div>
  <div class="content"></div>
  <div class="footer--container"></div>

  <!-- begin templates -->
  
  <!-- ~page ~index -->  
  <script id="index" type="text/x-jsrender">
    <div class="login-section"><img class="login--img" src="images/AvenidaCabildoBlanco.svg">
      <div class="login-conteiner">
        <h3 class="login-title">Iniciar sesión</h3>
        <div class="w-form">
          <form data-name="login" id="wf-form-login" name="wf-form-login">
            <label for="email">Email</label>
            <input class="input w-input" data-name="email" id="email" maxlength="256" name="email" placeholder="Ej: Alejandro@avenidacabildo.com.ar" type="email">
            <label for="password">Contraseña</label>
            <input class="input w-input" data-name="Contraseña" id="password" maxlength="256" name="Contrase-a" placeholder="Tu contraseña" type="password"><a class="login--link" href="recuperarpass.html">¿No te acordás tu contraseña?</a>
          </form>

          <div class="error-message w-form-fail">
            <div>Ui, tu email y contraseña no coinciden.</div>
          </div>
        </div><a class="submit-button login w-button" href="#">Continuar</a>
      </div>
    </div>
  </script>

  <!-- ~component ~header -->
  <script id="header" type="text/x-jsrender">
  {{if user && user.uid == uid}}
    <a class="header-brand w-inline-block" href="http://avenidacabildo.com.ar/" target="_blank"><img src="images/AvenidaCabildo.svg">
    </a>
    <div class="header-nav"><a class="nav-item" data-section="#local" href="#">Agregar nuevo local</a><a class="nav-item" data-section="#locales" href="#">Ver locales</a><a class="nav-item salir" href="#">Cerrar Sesión</a>
    </div>
  {{else}}
    <a class="header-brand w-inline-block" href="#"><img src="images/AvenidaCabildo.svg">
    </a>
    <div class="header-nav"><a class="nav-item" data-section="#local" href="#">Tu negocio</a><a class="nav-item" data-section="#estadisticas" href="#">Estádisticas</a><a class="nav-item salir" href="#">Cerrar sesión</a>
    </div>  
  {{/if}}
  </script>

  <!-- ~component ~footer -->
  <script id="footer" type="text/x-jsrender">
  {{if user && user.uid}}
    <div class="footer-inside">
      <div class="footer--a inside session-status"></div>
    </div>
  {{else}}
    <div class="footer">
      <div><a href="http://avenidacabildo.com.ar/terminos-y-condiciones-para-comercio.html" target="_blank" class="footer--a">Términos y condiciones</a>
      </div>
      <p class="footer--p session-status">Sin inicio de sesión</p>
    </div>
  {{/if}}
  </script>

  <!-- ~component ~descuento -->
  <script id="descuento" type="text/x-jsrender">
  {{for values}}
    <div class="descuento-cont descuentos">
      <select class="_1 select w-select porcentaje">
        <option value="">Seleccionar</option>
        <option value="5%"{{if #data && #data.indexOf('5%')>-1}} selected{{/if}}>5%</option>
        <option value="10%"{{if #data && #data.indexOf('10%')>-1}} selected{{/if}}>10%</option>
        <option value="15%"{{if #data && #data.indexOf('15%')>-1}} selected{{/if}}>15%</option>
        <option value="20%"{{if #data && #data.indexOf('20%')>-1}} selected{{/if}}>20%</option>
        <option value="25%"{{if #data && #data.indexOf('25%')>-1}} selected{{/if}}>25%</option>
        <option value="30%"{{if #data && #data.indexOf('30%')>-1}} selected{{/if}}>30%</option>
        <option value="35%"{{if #data && #data.indexOf('35%')>-1}} selected{{/if}}>35%</option>
        <option value="40%"{{if #data && #data.indexOf('40%')>-1}} selected{{/if}}>40%</option>
        <option value="45%"{{if #data && #data.indexOf('45%')>-1}} selected{{/if}}>45%</option>
        <option value="50%"{{if #data && #data.indexOf('50%')>-1}} selected{{/if}}>50%</option>
        <option value="55%"{{if #data && #data.indexOf('55%')>-1}} selected{{/if}}>55%</option>
        <option value="60%"{{if #data && #data.indexOf('60%')>-1}} selected{{/if}}>60%</option>
        <option value="65%"{{if #data && #data.indexOf('65%')>-1}} selected{{/if}}>66%</option>
        <option value="70%"{{if #data && #data.indexOf('70%')>-1}} selected{{/if}}>70%</option>
        <option value="75%"{{if #data && #data.indexOf('75%')>-1}} selected{{/if}}>75%</option>
        <option value="80%"{{if #data && #data.indexOf('80%')>-1}} selected{{/if}}>80%</option>
        <option value="85%"{{if #data && #data.indexOf('85%')>-1}} selected{{/if}}>85%</option>
        <option value="90%"{{if #data && #data.indexOf('90%')>-1}} selected{{/if}}>90%</option>
        <option value="95%"{{if #data && #data.indexOf('95%')>-1}} selected{{/if}}>95%</option>
        <option value="2x1"{{if #data && #data.indexOf('2x1')>-1}} selected{{/if}}>2x1</option>
      </select>
      <select class="_1 select w-select entidad">
        <option value="">Seleccionar</option>
        {{for ~root.entidades}}
        <option value="{{>#data}}"{{if #parent.parent.data && #parent.parent.data.indexOf(#data)>-1}} selected{{/if}}>{{>#data}}</option>
        {{/for}}
      </select>
      <a class="add-descuento w-inline-block" href="#"><img src="images/add-circle.svg">
      </a>
    </div> 
  {{/for}}
  </script>
  
  <!-- ~component ~horario -->
  <script id="horario" type="text/x-jsrender">
    <div class="descuento-cont horarios_filtro">
      <select class="select select-field-2 w-select dia">
        <option value="">Día</option>
        <option value="lunes"{{if #data&&key=='lunes'}} selected{{/if}}>Lunes</option>
        <option value="martes"{{if #data&&key=='martes'}} selected{{/if}}>Martes</option>
        <option value="miercoles"{{if #data&&key=='miercoles'}} selected{{/if}}>Miércoles</option>
        <option value="jueves"{{if #data&&key=='jueves'}} selected{{/if}}>Jueves</option>
        <option value="viernes"{{if #data&&key=='viernes'}} selected{{/if}}>Viernes</option>
        <option value="sabado"{{if #data&&key=='sabado'}} selected{{/if}}>Sábado</option>
        <option value="domingo"{{if #data&&key=='domingo'}} selected{{/if}}>Domingo</option>
      </select>
      <select class="select select-field w-select abre">
        <option value="">Horario</option>
        <option value="0"{{if #data&&abre=='0'}} selected{{/if}}>0</option>
        <option value="1"{{if #data&&abre=='1'}} selected{{/if}}>1</option>
        <option value="2"{{if #data&&abre=='2'}} selected{{/if}}>2</option>
        <option value="3"{{if #data&&abre=='3'}} selected{{/if}}>3</option>
        <option value="4"{{if #data&&abre=='4'}} selected{{/if}}>4</option>
        <option value="5"{{if #data&&abre=='5'}} selected{{/if}}>5</option>
        <option value="6"{{if #data&&abre=='6'}} selected{{/if}}>6</option>
        <option value="7"{{if #data&&abre=='7'}} selected{{/if}}>7</option>
        <option value="8"{{if #data&&abre=='8'}} selected{{/if}}>8</option>
        <option value="9"{{if #data&&abre=='9'}} selected{{/if}}>9</option>
        <option value="10"{{if #data&&abre=='10'}} selected{{/if}}>10</option>
        <option value="11"{{if #data&&abre=='11'}} selected{{/if}}>11</option>
        <option value="12"{{if #data&&abre=='12'}} selected{{/if}}>12</option>
        <option value="13"{{if #data&&abre=='13'}} selected{{/if}}>13</option>
        <option value="14"{{if #data&&abre=='14'}} selected{{/if}}>14</option>
        <option value="15"{{if #data&&abre=='15'}} selected{{/if}}>15</option>
        <option value="16"{{if #data&&abre=='16'}} selected{{/if}}>16</option>
        <option value="17"{{if #data&&abre=='17'}} selected{{/if}}>17</option>
        <option value="18"{{if #data&&abre=='18'}} selected{{/if}}>18</option>
        <option value="19"{{if #data&&abre=='19'}} selected{{/if}}>19</option>
        <option value="20"{{if #data&&abre=='20'}} selected{{/if}}>20</option>
        <option value="21"{{if #data&&abre=='21'}} selected{{/if}}>21</option>
        <option value="22"{{if #data&&abre=='22'}} selected{{/if}}>22</option>
        <option value="23"{{if #data&&abre=='23'}} selected{{/if}}>23</option>
      </select>
      <select class="select select-field w-select cierra">
        <option value="">Horario</option>
        <option value="0"{{if #data&&cierra=='0'}} selected{{/if}}>0</option>
        <option value="1"{{if #data&&cierra=='1'}} selected{{/if}}>1</option>
        <option value="2"{{if #data&&cierra=='2'}} selected{{/if}}>2</option>
        <option value="3"{{if #data&&cierra=='3'}} selected{{/if}}>3</option>
        <option value="4"{{if #data&&cierra=='4'}} selected{{/if}}>4</option>
        <option value="5"{{if #data&&cierra=='5'}} selected{{/if}}>5</option>
        <option value="6"{{if #data&&cierra=='6'}} selected{{/if}}>6</option>
        <option value="7"{{if #data&&cierra=='7'}} selected{{/if}}>7</option>
        <option value="8"{{if #data&&cierra=='8'}} selected{{/if}}>8</option>
        <option value="9"{{if #data&&cierra=='9'}} selected{{/if}}>9</option>
        <option value="10"{{if #data&&cierra=='10'}} selected{{/if}}>10</option>
        <option value="11"{{if #data&&cierra=='11'}} selected{{/if}}>11</option>
        <option value="12"{{if #data&&cierra=='12'}} selected{{/if}}>12</option>
        <option value="13"{{if #data&&cierra=='13'}} selected{{/if}}>13</option>
        <option value="14"{{if #data&&cierra=='14'}} selected{{/if}}>14</option>
        <option value="15"{{if #data&&cierra=='15'}} selected{{/if}}>15</option>
        <option value="16"{{if #data&&cierra=='16'}} selected{{/if}}>16</option>
        <option value="17"{{if #data&&cierra=='17'}} selected{{/if}}>17</option>
        <option value="18"{{if #data&&cierra=='18'}} selected{{/if}}>18</option>
        <option value="19"{{if #data&&cierra=='19'}} selected{{/if}}>19</option>
        <option value="20"{{if #data&&cierra=='20'}} selected{{/if}}>20</option>
        <option value="21"{{if #data&&cierra=='21'}} selected{{/if}}>21</option>
        <option value="22"{{if #data&&cierra=='22'}} selected{{/if}}>22</option>
        <option value="23"{{if #data&&cierra=='23'}} selected{{/if}}>23</option>
      </select>
    </div>
  </script>

  <!-- ~page ~local -->
  <script id="local" type="text/x-jsrender">
    <div class="container">
      <input type="hidden" name="key" value="{{:extra.key}}" />

    {{if extra.key}}
      <h3 class="heading"> {{:~prop('nombre_simple',data)}}</h3>
    {{else}}
      <h3 class="heading">Cargá un nuevo local</h3>
    {{/if}}
    
      <form class="publish__uploadimages--form" method="post" action="" name="photo" enctype="multipart/form-data">
        <input hidden="true" class="photo" type="file" name="imagen_logo" accept="image/*">
        <input hidden="true" class="photo" type="file" name="imagen_fondo" accept="image/*">
      </form>

      <div class="publish__uploadimages--info"></div>

      <div class="publish__uploadimages--preview section-photos">
        <div class="profile-picture">
          <a class="link-block w-inline-block" href="#"><img class="foto-perfil imagen_logo" src="{{if ~prop('imagen logo',data)}}{{:data['imagen logo']}}{{else}}images/profile-medidas.png{{/if}}">
          </a>
          <div class="button-container"><a class="picture-button w-button" data-name="imagen_logo" href="#">Subi una foto de perfil</a>
            <p class="picture-span">Subí una imagen en jpg o png de 500px x 500px aprox.</p>
          </div>
        </div>
        <div class="portada">
          <a class="link-block w-inline-block" href="#"><img class="foto-perfil imagen_fondo" src="{{if ~prop('imagen fondo',data)}}{{:data['imagen fondo']}}{{else}}images/portada-medidas.png{{/if}}">
          </a>
          <div class="button-container"><a class="picture-button w-button" data-name="imagen_fondo" href="#">Subi una foto de portada</a>
            <p class="picture-span">Subí una imagen en jpg o png de 800px x 458px aprox.</p>
          </div>
        </div>
      </div>
      <div class="section-info">
        <div class="conteiner-info">
          <div class="title-section">Información básica</div>
          <div class="w-form">
            <label for="nombre">Nombre del negocio</label>
            <input class="input w-input" maxlength="256" name="nombre_simple" placeholder="Avenida Cabildo" required="required" type="text" value="{{:~prop('nombre_simple',data)}}">
            <label for="direcci-n">Dirección</label>
            <input class="input w-input" maxlength="256" name="direccion" placeholder="Av. Cabildo 1394" required="required" type="text" value="{{:~prop('direccion',data)}}">
            <label for="descripci-n">Descripción sobre tu negocio</label>
            <textarea class="input w-input" maxlength="5000" name="descripcion" placeholder="Toda la AVENIDA en una sola aplicación.">{{:~prop('descripcion',data)}}</textarea>
            <label for="categoria">Categoría</label>
            <select class="select w-select" name="categoria" required="required">
              <option value="">Seleccionar</option>
              {{for ~toArray(extra.categorias)}}
              <option value="{{:key}}"{{if ~root.data && ~root.data.categoria==key}} selected{{/if}}>{{:key}}</option>
              {{/for}}
            </select>
            <label for="web">Sitio Web</label>
            <input class="input w-input" maxlength="256" name="web" placeholder="avenicacabildo.com.ar" required="required" type="text" value="{{:~prop('web',data)}}">
          </div>
        </div>
        <div class="conteiner-info">
          <div class="title-section">Tu suscripción</div>
          <div class="w-form">
              <label for="nombre-2">Nombre</label>
              <input class="input w-input" data-name="nombre" name="nombre_suscriptor" placeholder="María Fernanda" type="text"  value="{{:~prop('nombre_suscriptor',data)}}">
              <label for="email-18">Email</label>
              <input class="input w-input" maxlength="256" name="mail_suscriptor" placeholder="maria@avenidacabildo.com.ar" required="required" type="email" value="{{:~prop('mail_suscriptor',data)}}">
          </div>
        {{if ~isAdmin()}}
          <div class="w-form">
            <label for="nombre-2">Plan</label>          
            <input type="hidden" name="plan1" value={{if extra.cliente}}{{:extra.cliente.plan}}{{else}}&mdash;{{/if}}" />
            <select class="select w-select" name="plan">
              <option value="">Elegí un plan</option>
              <option value="Básico"{{if extra.cliente && extra.cliente.plan == 'Básico'}} selected{{/if}}>Básico</option>
              <option value="Premium"{{if extra.cliente && extra.cliente.plan == 'Premium'}} selected{{/if}}>Premium</option>
              <option value="Avenida Cabildo"{{if extra.cliente && extra.cliente.plan == 'Avenida Cabildo'}} selected{{/if}}>Avenida Cabildo</option>
            </select>          
          </div>
        {{else}}
          <div class="plan">{{:~prop('plan','Plan Básico',extra.cliente)}}</div>
          <div class="plan-span">Para cambiar el plan escribinos a hola@avenidacabildo.com.ar</div>
        {{/if}}
          <div class="proximo-pago">El próximo vencimiento es el {{:~getProxVencimiento()}}</div>
          <a class="pago-btn open w-button" href="#">Realizar pago</a>
        {{if extra.cliente && extra.cliente.pagos}}
          <a class="pago-btn w-button" href="#" onclick="$('.historico-pagos').slideToggle()">Ver pagos</a>
          <div class="historico-pagos w-hidden">
          {{for extra.cliente.pagos}}
            <label for="email-18">{{:~toDate(creado,'DD/MM/YY')}}</label>{{:origen}} {{:comprobante}}
          {{/for}}
          </div>
        {{/if}}
          <div class="proximo-pago-input w-hidden">
            <label for="email-18">Medio</label>
              <input class="input w-input" maxlength="256" name="medio" placeholder="Transferencia electrónica" type="text">
            <label for="email-18">Origen</label>
              <input class="input w-input" maxlength="256" name="origen" placeholder="Banco Santander" type="text">
            <label for="email-18">Comprobante</label>
              <input class="input w-input" maxlength="256" name="comprobante" placeholder="22928363" type="text">
              <a class="pago-btn do w-button" href="#">Realizar pago</a>
          </div>
        </div>
      </div>
      <div class="section-redes">
        <div class="conteiner-info">
          <div class="title-section">Horarios</div>
          <div class="w-form">
              <label for="de-lunes-a-viernes">Lunes a viernes</label>
              <input class="input w-input" maxlength="256" name="de-lunes-a-viernes" placeholder="Ej: de 9 a 22hs" required="required" type="text" value="{{:~getHorario('Lunes a viernes',data)}}">
              <label for="sabado">Sábados</label>
              <input class="input w-input" maxlength="256" name="sabado" placeholder="Ej: de 9 a 12" type="text" value="{{:~getHorario('Sábados',data)}}">
              <label for="domingo">Domingos</label>
              <input class="input w-input" maxlength="256" name="feriados" placeholder="ej: cerrado" type="text" value="{{:~getHorario('Feriados',data)}}">
          </div>
        </div>
        <div class="conteiner-info">
          <div class="title-section">Personalizá tu horario</div>
          <div class="w-form">
            <div class="descuento-cont">
              <label class="field-label-2" for="email-13">Día</label>
              <label class="field-label" for="email-13">Abre</label>
              <label class="field-label" for="email-13">Cierra</label>
            </div>

            <div class="horarios--container">
            </div>

            <a class="add-time" href="#">Agregar un horario más</a>
          </div>
        </div>
      </div>
      <div class="section-redes">
        <div class="conteiner-info">
          <div class="title-section">¿Cómo te contactan tus clientes?</div>
          <div class="w-form">
              <label for="telefono">Teléfono</label>
              <input class="input w-input" maxlength="256" name="telefono" placeholder="4544-4674" type="text" value="{{:~prop('telefono',data)}}">
              <label for="email-clientes">Email</label>
              <input class="input w-input" maxlength="256" name="mail" placeholder="hola@avenidacabildo.com.ar" type="email" value="{{:~prop('mail',data)}}">
              <label for="facebook">Facebook</label>
              <input class="input w-input" maxlength="256" name="facebook" placeholder="www.facebook.com/AvenidaCabildoApp" type="text" value="{{:~prop('facebook',data)}}">
              <label for="instagram">Instagram</label>
              <input class="input w-input" maxlength="256" name="instagram" placeholder="instagram.com/avenidacabildo" type="text" value="{{:~prop('instagram',data)}}">
          </div>
        </div>
        <div class="conteiner-info">
          <div class="title-section">Descuentos</div>
          <div class="w-form">
            <label for="descuento-av">Para quienes usen Avenida Cabildo</label>
            <input class="input w-input" maxlength="256" name="descuento_av" placeholder="20%" type="text" value="{{:~prop('descuento_av',data)}}">
            <label for="email-13">Descuento con tarjetas</label>

            <div class="descuento--container">
            </div>

            <div class="descuento-cont">
              <select class="_1 select w-select" name="field-6">
                <option value="">Seleccionar</option>
                <option value="5%">5%</option>
                <option value="10%">10%</option>
                <option value="15%">15%</option>
                <option value="20%">20%</option>
                <option value="25%">25%</option>
                <option value="30%">30%</option>
                <option value="35%">35%</option>
                <option value="40%">40%</option>
                <option value="50%">50%</option>
                <option value="55%">55%</option>
                <option value="60%">60%</option>
                <option value="65%">65%</option>
                <option value="70%">70%</option>
                <option value="75%">75%</option>
                <option value="80%">80%</option>
                <option value="85%">85%</option>
                <option value="90%">90%</option>
                <option value="95%">95%</option>
                <option value="2x1">2x1</option>
              </select>
              <input class="_1 input w-input" maxlength="256" name="descuento" placeholder="otro descuento" type="text">
              <a class="add-descuento w-inline-block" href="#"><img src="images/add-circle.svg">
              </a>
            </div>
          </div>
        </div>
      </div><a class="save submit-button w-button" href="#">{{if extra.key}}Actualizar {{:~prop('nombre_simple',data)}}{{else}}Cargar nuevo local{{/if}}</a>
    </div>
  </script>

  <!-- ~page ~locales -->
  <script id="locales" type="text/x-jsrender">
    <div class="container">
      <div class="tabs w-tabs" data-duration-in="300" data-duration-out="100">
        <div class="w-tab-menu">
          <a class="tab w--current w-inline-block w-tab-link" data-w-tab="todos">
            <div>Todos los locales</div>
          </a>
          <a class="tab w-inline-block w-tab-link" data-w-tab="Básico">
            <div>Plan Basico</div>
          </a>
          <a class="tab w-inline-block w-tab-link" data-w-tab="Premium">
            <div>Plan Premium</div>
          </a>
          <a class="tab w-inline-block w-tab-link" data-w-tab="Avenida Cabildo">
            <div>Plan Avenida Cabildo</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div class="w--tab-active w-tab-pane" data-w-tab="todos">
            <div class="table">
              <div class="headerline td">
                <div class="tr">
                  <p>Local</p>
                </div>
                <div class="tr w-hidden-medium w-hidden-small w-hidden-tiny">
                  <p>Dirección</p>
                </div>
                <div class="tr w-hidden-small w-hidden-tiny">
                  <p>Email</p>
                </div>
                <div class="tr w-hidden-small w-hidden-tiny">
                  <p>Plan</p>
                </div>
                <div class="tr w-hidden-small w-hidden-tiny">
                  <p>Teléfono</p>
                </div>
                <div class="pago tr">
                  <p>Último pago</p>
                </div>
                <div class="actions tr">
                  <p>Acciones</p>
                </div>
              </div>
              <div class="locales"></div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Básico">
            <div class="table">
              <div class="headerline td">
                <div class="tr">
                  <p>Local</p>
                </div>
                <div class="tr">
                  <p>Dirección</p>
                </div>
                <div class="tr">
                  <p>Email</p>
                </div>
                <div class="tr">
                  <p>Promo</p>
                </div>
                <div class="tr">
                  <p>Teléfono</p>
                </div>
                <div class="pago tr">
                  <p>Último pago</p>
                </div>
                <div class="actions tr">
                  <p>Acciones</p>
                </div>
              </div>
              <div class="locales"></div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Premium">
            <div class="table">
              <div class="headerline td">
                <div class="tr">
                  <p>Local</p>
                </div>
                <div class="tr">
                  <p>Dirección</p>
                </div>
                <div class="tr">
                  <p>Email</p>
                </div>
                <div class="tr">
                  <p>Promo</p>
                </div>
                <div class="tr">
                  <p>Teléfono</p>
                </div>
                <div class="pago tr">
                  <p>Último pago</p>
                </div>
                <div class="actions tr">
                  <p>Acciones</p>
                </div>
              </div>
              <div class="locales"></div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Avenida Cabildo">
            <div class="table">
              <div class="headerline td">
                <div class="tr">
                  <p>Local</p>
                </div>
                <div class="tr">
                  <p>Dirección</p>
                </div>
                <div class="tr">
                  <p>Email</p>
                </div>
                <div class="tr">
                  <p>Promo</p>
                </div>
                <div class="tr">
                  <p>Teléfono</p>
                </div>
                <div class="pago tr">
                  <p>Último pago</p>
                </div>
                <div class="actions tr">
                  <p>Acciones</p>
                </div>
              </div>
              <div class="items"></div>            
            </div>
          </div>
        </div>
      </div>
    </div> 
  </script>

  <!-- ~component ~listadolocales -->
  <script id="listadolocales" type="text/x-jsrender">
  {{for data}}
    <div class="td">
      <div class="tr">
        <p>{{:nombre_simple}}</p>
      </div>
      <div class="tr w-hidden-medium w-hidden-small w-hidden-tiny">
        <p>{{:direccion}}</p>
      </div>
      <div class="tr w-hidden-small w-hidden-tiny">
        <p>{{:mail}}</p>
      </div>
      <div class="tr w-hidden-small w-hidden-tiny">
        <p>{{if ~root.extra[key] && ~root.extra[key].plan}}{{:~root.extra[key].plan}}{{/if}}</p>
      </div>
      <div class="tr w-hidden-small w-hidden-tiny">
        <p>{{:telefono}}</p>
      </div>
      <div class="pago tr">
        <p class="enfecha">{{if ~root.extra[key] && ~root.extra[key].pagos}}{{:~toDate(~root.extra[key].pagos[~root.extra[key].pagos.length-1].creado,'DD/MM')}}{{else}}&mdash;{{/if}}</p>
      </div>
      <div class="actions tr">
        <div class="table-action ver" data-ix="open-viewlocal">Ver</div>
        <a class="w-inline-block" href="#">
          <div class="edit table-action" data-key="{{:key}}">Editar</div>
        </a>
        <div class="eliminar table-action" data-ix="eliminar-show" data-key="{{:key}}">Eliminar</div>
      </div>
    </div>   
  {{/for}}
  </script>

  <!-- ~page ~estadisticas -->
  <script id="estadisticas" type="text/x-jsrender">
    <div class="head-section"></div>
    <div class="estadisticas">
      <h1 class="title-stats">Tus estadísticas</h1>
      <div class="w-tabs" data-duration-in="300" data-duration-out="100">
        <div class="w-tab-menu">
          <a class="tab w-inline-block w-tab-link" data-w-tab="estemes">
            <div>Este mes</div>
          </a>
          <a class="tab w--current w-inline-block w-tab-link" data-w-tab="esta-semana">
            <div>Esta semana</div>
          </a>
          <a class="tab w-inline-block w-tab-link" data-w-tab="ultimo-trimestre">
            <div>El último trimestre</div>
          </a>
        </div>
        <div class="tab-container w-tab-content">
          <div class="tab-stat w-tab-pane" data-w-tab="estemes">
            <div class="stat-tab-cont">
              <div class="stat-container">
                <div class="people">380 personas</div>
                <div class="p-stat">Vieron tu perfil</div>
              </div>
              <div class="stat-container">
                <div class="favs people">200 personas</div>
                <div class="p-stat">Te agregaron a sus favoritos</div>
              </div>
            </div>
          </div>
          <div class="tab-stat w--tab-active w-tab-pane" data-w-tab="esta-semana">
            <div class="stat-tab-cont">
              <div class="stat-container">
                <div class="people">780 personas</div>
                <div class="p-stat">Vieron tu perfil</div>
              </div>
              <div class="stat-container">
                <div class="favs people">98 personas</div>
                <div class="p-stat">Te agregaron a sus favoritos</div>
              </div>
            </div>
          </div>
          <div class="tab-stat w-tab-pane" data-w-tab="ultimo-trimestre">
            <div class="stat-tab-cont">
              <div class="stat-container">
                <div class="people">678837 personas</div>
                <div class="p-stat">Vieron tu perfil</div>
              </div>
              <div class="stat-container">
                <div class="favs people">987 personas</div>
                <div class="p-stat">Te agregaron a sus favoritos</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- ~modal ~local -->
  <script id="modal_viewlocal" type="text/x-jsrender">
  </script>

  <!-- end templates -->    

  <!-- begin modals -->

  <div class="modal viewlocal" id="viewlocal">
    <div class="modal-contenedor"><img class="close" data-ix="close-viewlocal" src="images/icono-close.svg">
      <div class="informacion-local">
        <div><img class="foto-local" src="images/5877e0a09ac381814417974d_webclip.png">
        </div>
        <div class="infolocal-txt">
          <p><strong>En promoción</strong>: No</p>
          <p><strong>Nombre</strong>: Bensimon</p>
          <p><strong>Quién administra</strong>: Rosa Dominguez</p>
          <p><strong>Email</strong>: rosa@bensimon.com</p>
          <p><strong>Teléfono</strong>: 156 789 0273</p>
          <p><strong>Dirección</strong>: Av. Cabildo 1204</p>
          <p><strong>Horarios&nbsp;</strong>: Lunes a Domingos 24hs</p>
          <p><strong>Categoría</strong>: Medicina y salud</p>
          <p><strong>Descuentos</strong>: 10% Clarín, 20% La Nación, 10% Avenida Cabildo</p>
          <p><strong>Descripción</strong>: Farmacity 2x1 llevas dos y pagas 1</p>
          <p><strong>Facebook&nbsp;</strong>: https://www.facebook.com/Farmacity/</p>
          <p><strong>Instagram&nbsp;</strong>: https://www.facebook.com/Farmacity/</p>
          <p><strong>Web&nbsp;</strong>: bensimo.com.ar</p>
        </div>
      </div>
    </div>
  </div>

  <div class="eliminarlocal modal" id="viewlocal">
    <div class="modal-contenedor"><img class="close" data-ix="close-delete" src="images/icono-close.svg">
      <p class="modal--pcenter">¿Estás seguro que deseas eliminar este local?</p><a class="modalbutton w-button" href="#">No</a><a class="modalbutton w-button yes" href="#">Si</a>
    </div>
  </div>

  <!-- end modals -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <script src="js/moment.js" type="text/javascript"></script>
  <script src="js/jsrender.min.js"></script>
  <script src="js/main.js"></script>

  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>