body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.container-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #d33294, #9761aa 99%);
  background-image: linear-gradient(180deg, #d33294, #9761aa 99%);
}

.login-conteiner {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.login--img {
  display: block;
  width: 160px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-top: 40px;
}

.login-title {
  text-align: left;
}

.submit-button {
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 100px;
  background-color: #d33294;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15);
  text-align: center;
  text-transform: uppercase;
}

.input {
  margin-bottom: 20px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #9761aa;
  background-color: transparent;
  font-weight: 300;
}

.input:hover {
  border-bottom-color: #24b9df;
}

.input._1 {
  margin-right: 10px;
}

.login--link {
  display: block;
  margin-bottom: 30px;
  color: #d33294;
  font-weight: 400;
  text-decoration: none;
}

.footer {
  margin-top: 50px;
  color: #fff;
  text-align: right;
}

.footer.inside {
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #373c52;
}

.login-section {
  width: 100%;
}

.login-body {
  background-image: -webkit-linear-gradient(270deg, #d33294, #9761aa);
  background-image: linear-gradient(180deg, #d33294, #9761aa);
}

.footer--p {
  margin-right: 20px;
  font-size: 12px;
  font-weight: 300;
}

.footer--a {
  margin-right: 20px;
}

.footer--a:hover {
  color: #24b9df;
}

.footer--a.inside {
  text-align: right;
}

.success-message {
  background-color: #fff;
}

.error-message {
  border-left: 2px solid #d33294;
  background-color: #fff;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  min-height: 56px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-brand {
  width: 100px;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  border-bottom: 2px solid #d33294;
}

.nav-item.w--current {
  border-radius: 20px;
  background-color: #69c170;
  color: #fff;
}

.container {
  width: 96%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.tabs {
  margin-top: 30px;
}

.td {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e8e8ee;
}

.td.headerline {
  border-top-right-radius: 10px;
  background-color: #f0f0f0;
  font-weight: 600;
}

.tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14.2%;
  max-width: 14.2%;
  min-width: 14.2%;
  padding-right: 2px;
  padding-left: 2px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tr.actions {
  width: 18.4%;
  max-width: 18.4%;
  min-width: 18.4%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tr.pago {
  width: 10%;
  max-width: 10%;
  min-width: 10%;
  white-space: nowrap;
}

.p-intable {
  line-height: 49px;
}

.enfecha {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: #69c170;
  color: #fff;
}

.table-action {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #f46f2b;
}

.table-action.eliminar {
  padding-left: 20px;
  background-image: url('../images/rubbish.svg');
  background-position: 4px 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  color: #f46f2b;
  cursor: pointer;
}

.table-action.edit {
  padding-left: 18px;
  background-image: url('../images/edit45.svg');
  background-position: 0px 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}

.table-action.ver {
  padding-left: 23px;
  background-image: url('../images/eye110.svg');
  background-position: 3px 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tab {
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #fff, #f6f6f6);
  background-image: linear-gradient(180deg, #fff, #f6f6f6);
  color: #5c5d5d;
  font-weight: 300;
}

.tab.w--current {
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #24b9df;
  background-image: none;
  color: #fff;
}

.modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
}

.modal-contenedor {
  position: relative;
  display: block;
  width: 60%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}

.informacion-local {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.foto-local {
  width: 100px;
  height: 100px;
  background-color: #0869b4;
}

.infolocal-txt {
  margin-left: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.viewlocal.modal {
  display: none;
  opacity: 0;
}

.eliminarlocal.modal {
  display: none;
  opacity: 0;
}

.modalbutton {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 6px;
  background-color: #24b9df;
}

.modalbutton.yes {
  margin-top: 20px;
  background-color: #f46f2b;
}

.modal--pcenter {
  text-align: center;
}

.late {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #ff1f00;
  color: #fff;
}

.section-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-redes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.descuento-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.add-descuento {
  width: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.field-label {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.field-label-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.select-field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.select-field.select {
  margin-left: 10px;
}

.select-field-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.add-time {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  background-image: url('../images/add-circle.svg');
  background-position: 0px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  color: #d33294;
}

.section-photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-block {
  border: 1px solid #e6e6e6;
}

.profile-picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.portada {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.picture-button {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  background-color: #d33294;
  text-align: center;
}

.picture-span {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: #777;
  font-size: 12px;
  font-weight: 300;
}

.button-container {
  width: 70%;
}

.title-section {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.conteiner-info {
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.select {
  border: 1px solid #9663a8;
  border-radius: 0px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
  font-weight: 300;
}

.select._1 {
  margin-right: 10px;
}

.heading {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.plan {
  color: #9663a8;
  font-weight: 600;
  text-transform: uppercase;
}

.plan-span {
  font-size: 12px;
  font-weight: 300;
}

.proximo-pago {
  margin-top: 20px;
}

.pago-btn {
  border: 1px solid #d33294;
  border-radius: 30px;
  background-color: transparent;
  color: #d33294;
}

.footer-inside {
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d4d4d4;
}

.save {
  background-color: #d33294;
}

.save.submit-button {
  margin-top: 30px;
}

.head-section {
  height: 300px;
  margin-top: 10px;
  background-image: url('../images/cabildovpino_cut-1.jpg');
  background-position: 50% 77%;
  background-size: cover;
  background-repeat: no-repeat;
}

.estadisticas {
  margin-right: 20px;
  margin-left: 20px;
}

.title-stats {
  margin-top: 40px;
  font-size: 31px;
  text-transform: uppercase;
}

.people {
  color: #24b9df;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.people.favs {
  color: #9663a8;
}

.p-stat {
  text-transform: uppercase;
}

.stat-container {
  margin: 20px;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fdfdfd;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.tab-stat {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.tab-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #f3f3f3;
}

.stat-tab-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

ul.no-bullets {
  text-align: left;
  list-style: none;
}

@media (max-width: 991px) {
  .tr {
    width: 16.6%;
    max-width: 16.6%;
    min-width: 16.6%;
  }
  .button-container {
    width: 90%;
  }
  .stat-container {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .login-conteiner {
    width: 80%;
  }
  .tr {
    width: 33.3%;
    max-width: 33.3%;
    min-width: 33.3%;
  }
  .tr.actions {
    width: 53.3%;
    max-width: 53.3%;
    min-width: 53.3%;
  }
  .tr.pago {
    width: 13.3%;
    max-width: 13.3%;
    min-width: 13.3%;
  }
  .section-info {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-redes {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-picture {
    margin-bottom: 10px;
  }
  .conteiner-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stat-container {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  .login-conteiner {
    width: 98%;
    padding: 10px 20px;
  }
  .login--img {
    margin-bottom: 20px;
  }
  .login-title {
    font-size: 21px;
  }
  .header {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-nav {
    margin-top: 20px;
  }
  .nav-item {
    padding-right: 2px;
    padding-left: 2px;
    font-size: 12px;
  }
  .profile-picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .portada {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button-container {
    width: 100%;
    margin-top: 10px;
  }
  .conteiner-info {
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
  }
  .heading {
    font-size: 18px;
    line-height: 22px;
  }
  .head-section {
    height: 200px;
  }
  .title-stats {
    font-size: 26px;
    line-height: 30px;
  }
  .people {
    font-size: 24px;
    line-height: 26px;
  }
  .stat-tab-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .field-label-3 {
    font-size: 12px;
  }
}